awscli==1.6.2
backports.ssl-match-hostname==3.4.0.2
bcdoc==0.12.2
boto==2.33.0
botocore==0.73.0
certifi==2015.9.6.2
colorama==0.2.5
cycler==0.9.0
decorator==3.4.0
docutils==0.12
functools32==3.2.3.post2
GraphLab-Create==1.6.1
GraphLab-Create-License==1.6.1
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
Jinja2==2.8
jmespath==0.5.0
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
librato-metrics==0.4.9
MarkupSafe==0.23
matplotlib==1.5.0
mistune==0.7.1
mixpanel-py==3.1.1
multipledispatch==0.4.8
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.0.6
numpy==1.10.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
prettytable==0.7.2
ptyprocess==0.5
pyasn1==0.1.9
Pygments==2.0.2
pyparsing==2.0.5
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.0.0
requests==2.3.0
rsa==3.1.2
scipy==0.16.1
simplegeneric==0.8.1
six==1.10.0
sseclient==0.0.8
terminado==0.5
tornado==4.1
traitlets==4.0.0
wheel==0.26.0
